# Copy The Tar Data Files For Each Month(2019-01 To 2019-03) To The Input Data Dir & Untar Those Files.

In [1]:
from pathlib import Path
import tarfile
import shutil
import os

# Set The Path From Where Process Will Pick The Input Data Files
# It Must Be An Existing Path
srcDataDir = Path('../problem-statement-artifacts/data/').resolve()

# Set The Directory Paths
inputDataDir = Path('../data/indir/').resolve()
procDataDir = Path('../data/procdir/').resolve()
outDataDir = Path('../data/outdir/').resolve()



# If The Directory Already Exist
# Clear The inputdir,procdir And outdir Dir (In Real Life Scenario We May Want To Archive These Dirs ).
if inputDataDir.is_dir():
    shutil.rmtree(str(inputDataDir))
if procDataDir.is_dir():
    shutil.rmtree(str(procDataDir))
if outDataDir.is_dir():
    shutil.rmtree(str(outDataDir))

    
# Create The indir,procdir And outdir Directory If They Do Not Already Exists
Path('../data/indir').mkdir(parents=True, exist_ok=True)
Path('../data/procdir').mkdir(parents=True, exist_ok=True)
Path('../data/outdir').mkdir(parents=True, exist_ok=True)


# Print the Info
print('Source Data Artifacts Dir (This Is Our Source System From Where We Will \
 Pull The Raw Input Files): \n\t{}'.format(srcDataDir))

print('\nInput Data Dir (Contains Raw Input Files): \n\t{}'.format(inputDataDir))

print('\nData Proc Dir (Raw Files Are Oraganized Into Folders Which Will Be Used \
 For Processing These Files): \n\t{}'.format(procDataDir))

print('\nData Out Dir (Contains Final Formated Output Data Files Which Will be \
 Loaded Into Elastic Search): \n\t{}'.format(procDataDir))


# Copy The Tar Files To Input Dir
for file in [file for file in srcDataDir.glob('**/*.gz') if file.is_file()]:
    shutil.copy(str(file), str(inputDataDir))
    
# Untar the Files In Input Dir And Delete The Tar Files
for tfile in [file for file in inputDataDir.glob('**/*.gz') if file.is_file()]:
    tarfile.open(str(tfile)).extractall(str(inputDataDir))
    os.remove(str(tfile))

Source Data Artifacts Dir (This Is Our Source System From Where We Will  Pull The Raw Input Files):
	/home/dixitm/myGit/myworkspace/assignment/problem-statement-artifacts/data

Input Data Dir (Contains Raw Input Files):
	/home/dixitm/myGit/myworkspace/assignment/data/indir

Data Proc Dir (Raw Files Are Oraganized Into Folders Which Will Be Used  For Processing These Files):
	/home/dixitm/myGit/myworkspace/assignment/data/procdir

Data Out Dir (Contains Final Formated Output Data Files Which Will be  Loaded Into Elastic Search):
	/home/dixitm/myGit/myworkspace/assignment/data/procdir

# Check The Files In The indir

In [2]:
for path,dirs,files in os.walk(str(inputDataDir)):
    print('\n{}'.format(path))
    for f in files:
        print('\t{}'.format(f))

/home/dixitm/myGit/myworkspace/assignment/data/indir

/home/dixitm/myGit/myworkspace/assignment/data/indir/2019-03
	2019-03-essex-street.csv
	2019-03-north-wales-outcomes.csv
	2019-03-cumbria-street.csv
	2019-03-norfolk-street.csv
	2019-03-warwickshire-outcomes.csv
	2019-03-west-mercia-outcomes.csv
	2019-03-northern-ireland-street.csv
	2019-03-lincolnshire-outcomes.csv
	2019-03-south-yorkshire-street.csv
	2019-03-cambridgeshire-street.csv
	2019-03-metropolitan-outcomes.csv
	2019-03-durham-street.csv
	2019-03-durham-outcomes.csv
	2019-03-cleveland-street.csv
	2019-03-west-yorkshire-street.csv
	2019-03-dyfed-powys-street.csv
	2019-03-hampshire-outcomes.csv
	2019-03-thames-valley-street.csv
	2019-03-merseyside-street.csv
	2019-03-dyfed-powys-outcomes.csv
	2019-03-wiltshire-street.csv
	2019-03-sussex-outcomes.csv
	2019-03-lancashire-street.csv
	2019-03-merseyside-outcomes.csv
	2019-03-norfolk-outcomes.csv
	2019-03-hampshire-street.csv
	2019-03-west-mercia-street.csv
	2019-03-north-yorkshire-outcomes.csv
	2019-03-greater-manchester-street.csv
	2019-03-gloucestershire-outcomes.csv
	2019-03-west-midlands-outcomes.csv
	2019-03-north-wales-street.csv
	2019-03-hertfordshire-outcomes.csv
	2019-03-surrey-outcomes.csv
	2019-03-south-wales-street.csv
	2019-03-humberside-street.csv
	2019-03-northumbria-outcomes.csv
	2019-03-greater-manchester-outcomes.csv
	2019-03-gwent-street.csv
	2019-03-south-wales-outcomes.csv
	2019-03-suffolk-street.csv
	2019-03-west-midlands-street.csv
	2019-03-humberside-outcomes.csv
	2019-03-surrey-street.csv
	2019-03-hertfordshire-street.csv
	2019-03-kent-outcomes.csv
	2019-03-staffordshire-outcomes.csv
	2019-03-wiltshire-outcomes.csv
	2019-03-dorset-outcomes.csv
	2019-03-lincolnshire-street.csv
	2019-03-bedfordshire-street.csv
	2019-03-warwickshire-street.csv
	2019-03-nottinghamshire-outcomes.csv
	2019-03-gwent-outcomes.csv
	2019-03-north-yorkshire-street.csv
	2019-03-devon-and-cornwall-street.csv
	2019-03-staffordshire-street.csv
	2019-03-bedfordshire-outcomes.csv
	2019-03-city-of-london-outcomes.csv
	2019-03-lancashire-outcomes.csv
	2019-03-sussex-street.csv
	2019-03-kent-street.csv
	2019-03-cambridgeshire-outcomes.csv
	2019-03-metropolitan-street.csv
	2019-03-avon-and-somerset-street.csv
	2019-03-cumbria-outcomes.csv
	2019-03-avon-and-somerset-outcomes.csv
	2019-03-northamptonshire-outcomes.csv
	2019-03-gloucestershire-street.csv
	2019-03-thames-valley-outcomes.csv
	2019-03-cleveland-outcomes.csv
	2019-03-derbyshire-outcomes.csv
	2019-03-suffolk-outcomes.csv
	2019-03-leicestershire-outcomes.csv
	2019-03-derbyshire-street.csv
	2019-03-cheshire-outcomes.csv
	2019-03-west-yorkshire-outcomes.csv
	2019-03-northamptonshire-street.csv
	2019-03-south-yorkshire-outcomes.csv
	2019-03-devon-and-cornwall-outcomes.csv
	2019-03-dorset-street.csv
	2019-03-btp-street.csv
	2019-03-northumbria-street.csv
	2019-03-city-of-london-street.csv
	2019-03-leicestershire-street.csv
	2019-03-essex-outcomes.csv
	2019-03-nottinghamshire-street.csv

/home/dixitm/myGit/myworkspace/assignment/data/indir/2019-01
	2019-01-dorset-outcomes.csv
	2019-01-south-wales-outcomes.csv
	2019-01-south-yorkshire-street.csv
	2019-01-avon-and-somerset-outcomes.csv
	2019-01-bedfordshire-outcomes.csv
	2019-01-northumbria-street.csv
	2019-01-norfolk-street.csv
	2019-01-durham-outcomes.csv
	2019-01-west-mercia-outcomes.csv
	2019-01-west-yorkshire-outcomes.csv
	2019-01-merseyside-street.csv
	2019-01-essex-outcomes.csv
	2019-01-dyfed-powys-outcomes.csv
	2019-01-south-yorkshire-outcomes.csv
	2019-01-northern-ireland-street.csv
	2019-01-greater-manchester-street.csv
	2019-01-west-midlands-street.csv
	2019-01-kent-outcomes.csv
	2019-01-norfolk-outcomes.csv
	2019-01-lancashire-street.csv
	2019-01-west-mercia-street.csv
	2019-01-hertfordshire-outcomes.csv
	2019-01-humberside-outcomes.csv
	2019-01-leicestershire-street.csv
	2019-01-bedfordshire-street.csv
	2019-01-warwickshire-street.csv
	2019-01-gloucestershire-street.csv
	2019-01-warwickshire-outcomes.csv
	2019-01-cheshire-street.csv
	2019-01-avon-and-somerset-street.csv
	2019-01-hampshire-outcomes.csv
	2019-01-cleveland-street.csv
	2019-01-gloucestershire-outcomes.csv
	2019-01-kent-street.csv
	2019-01-hertfordshire-street.csv
	2019-01-nottinghamshire-outcomes.csv
	2019-01-leicestershire-outcomes.csv
	2019-01-metropolitan-street.csv
	2019-01-merseyside-outcomes.csv
	2019-01-lancashire-outcomes.csv
	2019-01-northamptonshire-outcomes.csv
	2019-01-gwent-outcomes.csv
	2019-01-north-yorkshire-street.csv
	2019-01-suffolk-outcomes.csv
	2019-01-lincolnshire-outcomes.csv
	2019-01-durham-street.csv
	2019-01-cleveland-outcomes.csv
	2019-01-west-midlands-outcomes.csv
	2019-01-staffordshire-street.csv
	2019-01-cumbria-street.csv
	2019-01-cumbria-outcomes.csv
	2019-01-surrey-outcomes.csv
	2019-01-greater-manchester-outcomes.csv
	2019-01-gwent-street.csv
	2019-01-wiltshire-street.csv
	2019-01-essex-street.csv
	2019-01-city-of-london-street.csv
	2019-01-sussex-street.csv
	2019-01-derbyshire-outcomes.csv
	2019-01-cheshire-outcomes.csv
	2019-01-staffordshire-outcomes.csv
	2019-01-north-yorkshire-outcomes.csv
	2019-01-btp-street.csv
	2019-01-devon-and-cornwall-outcomes.csv
	2019-01-derbyshire-street.csv
	2019-01-northumbria-outcomes.csv
	2019-01-dyfed-powys-street.csv
	2019-01-south-wales-street.csv
	2019-01-north-wales-street.csv
	2019-01-dorset-street.csv
	2019-01-north-wales-outcomes.csv
	2019-01-hampshire-street.csv
	2019-01-surrey-street.csv
	2019-01-nottinghamshire-street.csv
	2019-01-northamptonshire-street.csv
	2019-01-thames-valley-street.csv
	2019-01-wiltshire-outcomes.csv
	2019-01-city-of-london-outcomes.csv
	2019-01-humberside-street.csv
	2019-01-west-yorkshire-street.csv
	2019-01-thames-valley-outcomes.csv
	2019-01-metropolitan-outcomes.csv
	2019-01-cambridgeshire-street.csv
	2019-01-lincolnshire-street.csv
	2019-01-devon-and-cornwall-street.csv
	2019-01-cambridgeshire-outcomes.csv
	2019-01-suffolk-street.csv
	2019-01-sussex-outcomes.csv

/home/dixitm/myGit/myworkspace/assignment/data/indir/2019-02
	2019-02-thames-valley-outcomes.csv
	2019-02-dorset-outcomes.csv
	2019-02-city-of-london-street.csv
	2019-02-north-wales-outcomes.csv
	2019-02-northumbria-outcomes.csv
	2019-02-northumbria-street.csv
	2019-02-warwickshire-outcomes.csv
	2019-02-avon-and-somerset-street.csv
	2019-02-north-yorkshire-street.csv
	2019-02-sussex-street.csv
	2019-02-south-wales-street.csv
	2019-02-bedfordshire-outcomes.csv
	2019-02-hampshire-outcomes.csv
	2019-02-cambridgeshire-outcomes.csv
	2019-02-northamptonshire-outcomes.csv
	2019-02-lincolnshire-outcomes.csv
	2019-02-staffordshire-street.csv
	2019-02-west-yorkshire-street.csv
	2019-02-west-midlands-outcomes.csv
	2019-02-west-yorkshire-outcomes.csv
	2019-02-warwickshire-street.csv
	2019-02-humberside-outcomes.csv
	2019-02-merseyside-outcomes.csv
	2019-02-south-yorkshire-outcomes.csv
	2019-02-suffolk-outcomes.csv
	2019-02-north-yorkshire-outcomes.csv
	2019-02-avon-and-somerset-outcomes.csv
	2019-02-cleveland-outcomes.csv
	2019-02-south-wales-outcomes.csv
	2019-02-lancashire-outcomes.csv
	2019-02-gloucestershire-outcomes.csv
	2019-02-durham-outcomes.csv
	2019-02-btp-street.csv
	2019-02-humberside-street.csv
	2019-02-city-of-london-outcomes.csv
	2019-02-surrey-outcomes.csv
	2019-02-lincolnshire-street.csv
	2019-02-devon-and-cornwall-outcomes.csv
	2019-02-greater-manchester-street.csv
	2019-02-kent-outcomes.csv
	2019-02-durham-street.csv
	2019-02-kent-street.csv
	2019-02-west-mercia-street.csv
	2019-02-metropolitan-outcomes.csv
	2019-02-gwent-outcomes.csv
	2019-02-thames-valley-street.csv
	2019-02-wiltshire-outcomes.csv
	2019-02-merseyside-street.csv
	2019-02-leicestershire-outcomes.csv
	2019-02-sussex-outcomes.csv
	2019-02-gloucestershire-street.csv
	2019-02-norfolk-outcomes.csv
	2019-02-dyfed-powys-outcomes.csv
	2019-02-west-midlands-street.csv
	2019-02-essex-outcomes.csv
	2019-02-wiltshire-street.csv
	2019-02-cheshire-street.csv
	2019-02-bedfordshire-street.csv
	2019-02-metropolitan-street.csv
	2019-02-norfolk-street.csv
	2019-02-greater-manchester-outcomes.csv
	2019-02-cambridgeshire-street.csv
	2019-02-hampshire-street.csv
	2019-02-dorset-street.csv
	2019-02-nottinghamshire-street.csv
	2019-02-west-mercia-outcomes.csv
	2019-02-hertfordshire-outcomes.csv
	2019-02-nottinghamshire-outcomes.csv
	2019-02-northern-ireland-street.csv
	2019-02-suffolk-street.csv
	2019-02-cheshire-outcomes.csv
	2019-02-devon-and-cornwall-street.csv
	2019-02-essex-street.csv
	2019-02-lancashire-street.csv
	2019-02-cleveland-street.csv
	2019-02-derbyshire-street.csv
	2019-02-leicestershire-street.csv
	2019-02-dyfed-powys-street.csv
	2019-02-north-wales-street.csv
	2019-02-cumbria-outcomes.csv
	2019-02-south-yorkshire-street.csv
	2019-02-northamptonshire-street.csv
	2019-02-cumbria-street.csv
	2019-02-surrey-street.csv
	2019-02-derbyshire-outcomes.csv
	2019-02-staffordshire-outcomes.csv
	2019-02-hertfordshire-street.csv
	2019-02-gwent-street.csv

# Copy The Files Into The procdir And Group Files Of Different Months Into 2 Folders. One Folder street (contains all street files from all months) & Other Folder outcome(all outcome files from all months are placed here)


# As We Copy The Files We Also Keep A Running Total Of Count Of Number Of Records In Each Category (street & outcome) Of Files. We Will Use This Count Later To Reconcile The Record Count Once The Data Is Loaded Into The Pandas Dataframe


# We also add a column name Rownum containing the line number to each file. We will be using this Rownum to remove Duplicate Records on "Crime ID" which are present within a file.

In [3]:
# Create The Folders street & outcome In The Procdir
Path(str(procDataDir) + '/street/').mkdir(parents=True, exist_ok=True)
Path(str(procDataDir) + '/outcome/').mkdir(parents=True, exist_ok=True)

# Set The Path Info
procDirStreet=Path(str(procDataDir) + '/street/').resolve()
procDirOutcome=Path(str(procDataDir) + '/outcome/').resolve()

#Print The procdir Subdirtory Details
print('Path For All street Files : \n\t{}'.format(procDirStreet))
print('\nPath For All outcome Files : \n\t{}'.format(procDirOutcome))

# Capture Total Record In street & outcomes Files For Reconciliation
totalStreetRecCount=0
totalOutcomesRecCount=0

# Copy All The street Data Files From inputDataDir To procDirStreet After adding Rownum to each line
for file in [file for file in inputDataDir.glob('**/*-street.csv') if file.is_file()]:
    rownum=0
    with open(str(file), 'r') as recs:
        data = recs.readlines()
    
    with open(str(procDirStreet) + '/' +os.path.basename(file), 'w') as recs:
        for (rownum, line) in enumerate(data):
            if rownum == 0:
                recs.write('{},{}'.format('Rownum', line))
            else:
                recs.write('{},{}'.format(rownum, line))

    # Get number of lines in the present file
    curr_file_num_lines = rownum
    totalStreetRecCount += curr_file_num_lines

    
# Copy All The outcomes Data Files From inputDataDir To procDirOutcome
for file in [file for file in inputDataDir.glob('**/*-outcomes.csv') if file.is_file()]:
    rownum=0
    with open(str(file), 'r') as recs:
        data = recs.readlines()
    
    with open(str(procDirOutcome) + '/' +os.path.basename(file), 'w') as recs:
        for (rownum, line) in enumerate(data):
            if rownum == 0:
                recs.write('{},{}'.format('Rownum', line))
            else:
                recs.write('{},{}'.format(rownum, line))

    # Get number of lines in the present file
    curr_file_num_lines = rownum
    totalOutcomesRecCount += curr_file_num_lines
    
    
print('\n\nTotal street Record Count From All Files: {}'.format(totalStreetRecCount))
print('\nTotal outcomes Record Count From All Files: {}'.format(totalOutcomesRecCount))

Path For All street Files :
	/home/dixitm/myGit/myworkspace/assignment/data/procdir/street

Path For All outcome Files :
	/home/dixitm/myGit/myworkspace/assignment/data/procdir/outcome


Total street Record Count From All Files: 1578168

Total outcomes Record Count From All Files: 1192446

# Check The Files In The procdir

In [4]:
for path,dirs,files in os.walk(str(procDataDir)):
    print('\n{}'.format(path))
    for f in files:
        print('\t{}'.format(f))

/home/dixitm/myGit/myworkspace/assignment/data/procdir

/home/dixitm/myGit/myworkspace/assignment/data/procdir/street
	2019-03-essex-street.csv
	2019-02-city-of-london-street.csv
	2019-03-cumbria-street.csv
	2019-03-norfolk-street.csv
	2019-01-south-yorkshire-street.csv
	2019-02-northumbria-street.csv
	2019-02-avon-and-somerset-street.csv
	2019-01-northumbria-street.csv
	2019-02-north-yorkshire-street.csv
	2019-03-northern-ireland-street.csv
	2019-03-south-yorkshire-street.csv
	2019-03-cambridgeshire-street.csv
	2019-01-norfolk-street.csv
	2019-02-sussex-street.csv
	2019-02-south-wales-street.csv
	2019-03-durham-street.csv
	2019-03-cleveland-street.csv
	2019-01-merseyside-street.csv
	2019-03-west-yorkshire-street.csv
	2019-03-dyfed-powys-street.csv
	2019-03-thames-valley-street.csv
	2019-01-northern-ireland-street.csv
	2019-01-greater-manchester-street.csv
	2019-01-west-midlands-street.csv
	2019-02-staffordshire-street.csv
	2019-01-lancashire-street.csv
	2019-01-west-mercia-street.csv
	2019-03-merseyside-street.csv
	2019-02-west-yorkshire-street.csv
	2019-01-leicestershire-street.csv
	2019-03-wiltshire-street.csv
	2019-02-warwickshire-street.csv
	2019-01-bedfordshire-street.csv
	2019-03-lancashire-street.csv
	2019-01-warwickshire-street.csv
	2019-03-hampshire-street.csv
	2019-01-gloucestershire-street.csv
	2019-03-west-mercia-street.csv
	2019-01-cheshire-street.csv
	2019-03-greater-manchester-street.csv
	2019-01-avon-and-somerset-street.csv
	2019-01-cleveland-street.csv
	2019-01-kent-street.csv
	2019-02-btp-street.csv
	2019-03-north-wales-street.csv
	2019-02-humberside-street.csv
	2019-01-hertfordshire-street.csv
	2019-02-lincolnshire-street.csv
	2019-02-greater-manchester-street.csv
	2019-03-south-wales-street.csv
	2019-02-durham-street.csv
	2019-01-metropolitan-street.csv
	2019-03-humberside-street.csv
	2019-02-kent-street.csv
	2019-02-west-mercia-street.csv
	2019-03-gwent-street.csv
	2019-03-suffolk-street.csv
	2019-03-west-midlands-street.csv
	2019-02-thames-valley-street.csv
	2019-03-surrey-street.csv
	2019-03-hertfordshire-street.csv
	2019-01-north-yorkshire-street.csv
	2019-01-durham-street.csv
	2019-02-merseyside-street.csv
	2019-03-lincolnshire-street.csv
	2019-03-bedfordshire-street.csv
	2019-03-warwickshire-street.csv
	2019-02-gloucestershire-street.csv
	2019-01-staffordshire-street.csv
	2019-01-cumbria-street.csv
	2019-03-north-yorkshire-street.csv
	2019-02-west-midlands-street.csv
	2019-03-devon-and-cornwall-street.csv
	2019-02-wiltshire-street.csv
	2019-02-cheshire-street.csv
	2019-03-staffordshire-street.csv
	2019-02-bedfordshire-street.csv
	2019-02-metropolitan-street.csv
	2019-02-norfolk-street.csv
	2019-02-cambridgeshire-street.csv
	2019-01-gwent-street.csv
	2019-03-sussex-street.csv
	2019-03-kent-street.csv
	2019-01-wiltshire-street.csv
	2019-03-metropolitan-street.csv
	2019-03-avon-and-somerset-street.csv
	2019-01-essex-street.csv
	2019-01-city-of-london-street.csv
	2019-01-sussex-street.csv
	2019-02-hampshire-street.csv
	2019-01-btp-street.csv
	2019-02-dorset-street.csv
	2019-02-nottinghamshire-street.csv
	2019-01-derbyshire-street.csv
	2019-03-gloucestershire-street.csv
	2019-01-dyfed-powys-street.csv
	2019-01-south-wales-street.csv
	2019-02-northern-ireland-street.csv
	2019-02-suffolk-street.csv
	2019-01-north-wales-street.csv
	2019-01-dorset-street.csv
	2019-02-devon-and-cornwall-street.csv
	2019-02-essex-street.csv
	2019-02-lancashire-street.csv
	2019-02-cleveland-street.csv
	2019-03-derbyshire-street.csv
	2019-01-hampshire-street.csv
	2019-03-northamptonshire-street.csv
	2019-01-surrey-street.csv
	2019-02-derbyshire-street.csv
	2019-02-leicestershire-street.csv
	2019-02-dyfed-powys-street.csv
	2019-01-nottinghamshire-street.csv
	2019-02-north-wales-street.csv
	2019-01-northamptonshire-street.csv
	2019-01-thames-valley-street.csv
	2019-02-south-yorkshire-street.csv
	2019-02-northamptonshire-street.csv
	2019-02-cumbria-street.csv
	2019-02-surrey-street.csv
	2019-03-dorset-street.csv
	2019-03-btp-street.csv
	2019-03-northumbria-street.csv
	2019-03-city-of-london-street.csv
	2019-03-leicestershire-street.csv
	2019-01-humberside-street.csv
	2019-01-west-yorkshire-street.csv
	2019-02-hertfordshire-street.csv
	2019-01-cambridgeshire-street.csv
	2019-01-lincolnshire-street.csv
	2019-03-nottinghamshire-street.csv
	2019-01-devon-and-cornwall-street.csv
	2019-01-suffolk-street.csv
	2019-02-gwent-street.csv

/home/dixitm/myGit/myworkspace/assignment/data/procdir/outcome
	2019-02-thames-valley-outcomes.csv
	2019-03-north-wales-outcomes.csv
	2019-02-dorset-outcomes.csv
	2019-01-dorset-outcomes.csv
	2019-02-north-wales-outcomes.csv
	2019-02-northumbria-outcomes.csv
	2019-01-south-wales-outcomes.csv
	2019-03-warwickshire-outcomes.csv
	2019-01-avon-and-somerset-outcomes.csv
	2019-02-warwickshire-outcomes.csv
	2019-01-bedfordshire-outcomes.csv
	2019-03-west-mercia-outcomes.csv
	2019-03-lincolnshire-outcomes.csv
	2019-01-durham-outcomes.csv
	2019-03-metropolitan-outcomes.csv
	2019-01-west-mercia-outcomes.csv
	2019-01-west-yorkshire-outcomes.csv
	2019-03-durham-outcomes.csv
	2019-02-bedfordshire-outcomes.csv
	2019-01-essex-outcomes.csv
	2019-02-hampshire-outcomes.csv
	2019-01-dyfed-powys-outcomes.csv
	2019-02-cambridgeshire-outcomes.csv
	2019-02-northamptonshire-outcomes.csv
	2019-03-hampshire-outcomes.csv
	2019-02-lincolnshire-outcomes.csv
	2019-01-south-yorkshire-outcomes.csv
	2019-01-kent-outcomes.csv
	2019-01-norfolk-outcomes.csv
	2019-01-hertfordshire-outcomes.csv
	2019-02-west-midlands-outcomes.csv
	2019-01-humberside-outcomes.csv
	2019-03-dyfed-powys-outcomes.csv
	2019-02-west-yorkshire-outcomes.csv
	2019-02-humberside-outcomes.csv
	2019-03-sussex-outcomes.csv
	2019-02-merseyside-outcomes.csv
	2019-02-south-yorkshire-outcomes.csv
	2019-02-suffolk-outcomes.csv
	2019-03-merseyside-outcomes.csv
	2019-03-norfolk-outcomes.csv
	2019-02-north-yorkshire-outcomes.csv
	2019-01-warwickshire-outcomes.csv
	2019-02-avon-and-somerset-outcomes.csv
	2019-03-north-yorkshire-outcomes.csv
	2019-02-cleveland-outcomes.csv
	2019-03-gloucestershire-outcomes.csv
	2019-02-south-wales-outcomes.csv
	2019-01-hampshire-outcomes.csv
	2019-01-gloucestershire-outcomes.csv
	2019-02-lancashire-outcomes.csv
	2019-02-gloucestershire-outcomes.csv
	2019-02-durham-outcomes.csv
	2019-03-west-midlands-outcomes.csv
	2019-03-hertfordshire-outcomes.csv
	2019-02-city-of-london-outcomes.csv
	2019-02-surrey-outcomes.csv
	2019-01-nottinghamshire-outcomes.csv
	2019-02-devon-and-cornwall-outcomes.csv
	2019-03-surrey-outcomes.csv
	2019-02-kent-outcomes.csv
	2019-01-leicestershire-outcomes.csv
	2019-01-merseyside-outcomes.csv
	2019-03-northumbria-outcomes.csv
	2019-01-lancashire-outcomes.csv
	2019-02-metropolitan-outcomes.csv
	2019-03-greater-manchester-outcomes.csv
	2019-03-south-wales-outcomes.csv
	2019-02-gwent-outcomes.csv
	2019-03-humberside-outcomes.csv
	2019-01-northamptonshire-outcomes.csv
	2019-01-gwent-outcomes.csv
	2019-02-wiltshire-outcomes.csv
	2019-03-kent-outcomes.csv
	2019-03-staffordshire-outcomes.csv
	2019-01-suffolk-outcomes.csv
	2019-03-wiltshire-outcomes.csv
	2019-01-lincolnshire-outcomes.csv
	2019-03-dorset-outcomes.csv
	2019-01-cleveland-outcomes.csv
	2019-03-nottinghamshire-outcomes.csv
	2019-02-leicestershire-outcomes.csv
	2019-01-west-midlands-outcomes.csv
	2019-02-sussex-outcomes.csv
	2019-02-norfolk-outcomes.csv
	2019-03-gwent-outcomes.csv
	2019-02-dyfed-powys-outcomes.csv
	2019-02-essex-outcomes.csv
	2019-01-cumbria-outcomes.csv
	2019-03-bedfordshire-outcomes.csv
	2019-02-greater-manchester-outcomes.csv
	2019-01-surrey-outcomes.csv
	2019-01-greater-manchester-outcomes.csv
	2019-03-city-of-london-outcomes.csv
	2019-03-lancashire-outcomes.csv
	2019-03-cambridgeshire-outcomes.csv
	2019-01-derbyshire-outcomes.csv
	2019-03-cumbria-outcomes.csv
	2019-03-avon-and-somerset-outcomes.csv
	2019-01-cheshire-outcomes.csv
	2019-01-staffordshire-outcomes.csv
	2019-01-north-yorkshire-outcomes.csv
	2019-03-northamptonshire-outcomes.csv
	2019-01-devon-and-cornwall-outcomes.csv
	2019-02-west-mercia-outcomes.csv
	2019-01-northumbria-outcomes.csv
	2019-03-thames-valley-outcomes.csv
	2019-02-hertfordshire-outcomes.csv
	2019-02-nottinghamshire-outcomes.csv
	2019-03-cleveland-outcomes.csv
	2019-03-derbyshire-outcomes.csv
	2019-02-cheshire-outcomes.csv
	2019-03-suffolk-outcomes.csv
	2019-03-leicestershire-outcomes.csv
	2019-03-cheshire-outcomes.csv
	2019-01-north-wales-outcomes.csv
	2019-03-west-yorkshire-outcomes.csv
	2019-02-cumbria-outcomes.csv
	2019-03-south-yorkshire-outcomes.csv
	2019-03-devon-and-cornwall-outcomes.csv
	2019-02-derbyshire-outcomes.csv
	2019-01-wiltshire-outcomes.csv
	2019-02-staffordshire-outcomes.csv
	2019-03-essex-outcomes.csv
	2019-01-city-of-london-outcomes.csv
	2019-01-thames-valley-outcomes.csv
	2019-01-metropolitan-outcomes.csv
	2019-01-cambridgeshire-outcomes.csv
	2019-01-sussex-outcomes.csv

# Load The File Data Into Pandas Dataframes

In [60]:
import pandas as pd

# List All the street And outcomes
streetfileList=[str(file) for file in procDirStreet.glob('**/*-street.csv') if file.is_file()]
outcomefileList=[str(file) for file in procDirOutcome.glob('**/*-outcomes.csv') if file.is_file()]
 
# Map function which will read the csv file and also add one more column named "District name" to 
# the output dataframe
def read_csv_with_districtname_from_file(inputfile):
    outdf=pd.read_csv(inputfile)
    filename=os.path.basename(inputfile)
    districtname=filename[8:].replace('-street.csv','').replace('-outcomes.csv','')
    outdf['District name']=districtname
    return outdf
   
    
# Load The Data Into The Pandas Dataframes
dfStreet = pd.concat(map(read_csv_with_districtname_from_file, streetfileList))
dfOutcomes = pd.concat(map(read_csv_with_districtname_from_file, outcomefileList))

# Keep Columns Which Are Required

In [61]:
print('street data column list before dropping extra cols: \n{}'.format(dfStreet.columns))
print('\noutcome data column list before dropping extra cols: \n{}'.format(dfOutcomes.columns))

dfStreet=dfStreet[['Rownum', 'Crime ID', 'Month', 'Longitude', 'Latitude', 'Crime type', 'Last outcome category', 'District name']]
dfOutcomes=dfOutcomes[['Rownum', 'Crime ID', 'Month', 'Longitude', 'Latitude', 'Outcome type', 'District name']]

print('\n\nstreet data column list after dropping extra cols: \n{}'.format(dfStreet.columns))
print('\noutcome data column list after dropping extra cols: \n{}'.format(dfOutcomes.columns))

street data column list before dropping extra cols:
Index(['Rownum', 'Crime ID', 'Month', 'Reported by', 'Falls within',
       'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name',
       'Crime type', 'Last outcome category', 'Context', 'District name'],
      dtype='object')

outcome data column list before dropping extra cols:
Index(['Rownum', 'Crime ID', 'Month', 'Reported by', 'Falls within',
       'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name',
       'Outcome type', 'District name'],
      dtype='object')


street data column list after dropping extra cols:
Index(['Rownum', 'Crime ID', 'Month', 'Longitude', 'Latitude', 'Crime type',
       'Last outcome category', 'District name'],
      dtype='object')

outcome data column list after dropping extra cols:
Index(['Rownum', 'Crime ID', 'Month', 'Longitude', 'Latitude', 'Outcome type',
       'District name'],
      dtype='object')

# Reconcile the Record Counts In street & outcomes Files With The Counts Loaded In The dataframes

In [62]:
if dfStreet.shape[0] == totalStreetRecCount:
    print('SUCCESS: Record Count Match Between dfStreet dataframe: {} \
& Total Street Records: {}'.format(dfStreet.shape[0],totalStreetRecCount))
else:
    print('\nFATAL: Record Count Mismatch Between dfStreet dataframe: {} \
& Total Street Records: {}'.format(dfStreet.shape[0],totalStreetRecCount))
    
if dfOutcomes.shape[0] == totalOutcomesRecCount:
    print('\nSUCCESS: Record Count Match Between dfStreet dataframe: {} \
& Total Street Records: {}'.format(dfOutcomes.shape[0],totalOutcomesRecCount))
else:
    print('\nFATAL: Record Count Mismatch Between dfStreet dataframe: {} \
& Total Street Records: {}'.format(dfOutcomes.shape[0],totalOutcomesRecCount))

SUCCESS: Record Count Match Between dfStreet dataframe: 1578168 & Total Street Records: 1578168

SUCCESS: Record Count Match Between dfStreet dataframe: 1192446 & Total Street Records: 1192446

# Apply Schema To The DataFrames

# Convert Month From string value: 2019-01 to integer: 201901

In [63]:
commonColunsInStreetAndOutcomes=[]

print('Columns In street Dataframe: {}'.format(dfStreet.columns.shape[0]))
print('-----------------------------')
for col in dfStreet.columns:
    if col in ['Latitude','Longitude']:
        dfStreet[col]=dfStreet[col].astype(float)
    elif col in ['Month','Rownum']:
        if 'int' not in str(dfStreet[col].dtype):
            dfStreet[col]=dfStreet[col].str.replace('-','').astype(int)
    else:
        dfStreet[col]=dfStreet[col].astype(str)
    print('Column Name: {}, Data Type: {}'.format(col,dfStreet[col].dtype))

    
print('\nColumns In outcome Dataframe: {}'.format(dfOutcomes.columns.shape[0]))
print('-----------------------------')
for col in dfOutcomes.columns:
    if col in ['Latitude','Longitude']:
        dfOutcomes[col]=dfOutcomes[col].astype(float)
    elif col in ['Month','Rownum']:
        if 'int' not in str(dfOutcomes[col].dtype):
            dfOutcomes[col]=dfOutcomes[col].str.replace('-','').astype(int)
    else:
        dfOutcomes[col]=dfOutcomes[col].astype(str)
    print('Column Name: {}, Data Type: {}'.format(col,dfOutcomes[col].dtype))
    if col in dfStreet.columns:
        commonColunsInStreetAndOutcomes.append(col)
        

print('\nCommon Columns In street & outcome Dataframe: {}'.format(len(commonColunsInStreetAndOutcomes)))
print('-----------------------------')
for col in commonColunsInStreetAndOutcomes:
    print(col)

Columns In street Dataframe: 8
-----------------------------
Column Name: Rownum, Data Type: int64
Column Name: Crime ID, Data Type: object
Column Name: Month, Data Type: int64
Column Name: Longitude, Data Type: float64
Column Name: Latitude, Data Type: float64
Column Name: Crime type, Data Type: object
Column Name: Last outcome category, Data Type: object
Column Name: District name, Data Type: object

Columns In outcome Dataframe: 7
-----------------------------
Column Name: Rownum, Data Type: int64
Column Name: Crime ID, Data Type: object
Column Name: Month, Data Type: int64
Column Name: Longitude, Data Type: float64
Column Name: Latitude, Data Type: float64
Column Name: Outcome type, Data Type: object
Column Name: District name, Data Type: object

Common Columns In street & outcome Dataframe: 6
-----------------------------
Rownum
Crime ID
Month
Longitude
Latitude
District name

# Peek Into The Data Loaded in Dataframes

In [64]:
print('Shape Of The street Dataframe: {}'.format(dfStreet.shape))
dfStreet.head()

Shape Of The street Dataframe: (1578168, 8)

,Rownum,Crime ID,Month,Longitude,Latitude,Crime type,Last outcome category,District name
0,1,95e304d9e476cb5611111d51a3e258298232ba5bfafccb...,201903,-0.986073,51.935250,Violence and sexual offences,Unable to prosecute suspect,essex
1,2,4bfda2e430113728d4683311c7bcafa6f92638e208f0c1...,201903,0.806772,51.967013,Burglary,Investigation complete; no suspect identified,essex
2,3,13c85cc749572b0aad9375f680b939de8db7414e0cc84a...,201903,0.887522,51.992391,Other theft,Investigation complete; no suspect identified,essex
3,4,f4741e818da6bed6b6060584b295c4096bfd0341d95158...,201903,0.873053,51.970504,Violence and sexual offences,Investigation complete; no suspect identified,essex
4,5,6327dda5672144ac58e84036d1a39477db4e6e0e180ec8...,201903,0.158232,51.553923,Burglary,Under investigation,essex

In [65]:
print('Shape Of The street Dataframe: {}'.format(dfOutcomes.shape))
dfOutcomes.head()

Shape Of The street Dataframe: (1192446, 7)

,Rownum,Crime ID,Month,Longitude,Latitude,Outcome type,District name
0,1,c2fd1e9d414ec69ce0b1c64d12eead0175062836d7833c...,201902,NaN,NaN,Offender given suspended prison sentence,thames-valley
1,2,3d53d898b6af04e4ccc6429f9539da122eb25ce0117ba1...,201902,NaN,NaN,Offender sent to prison,thames-valley
2,3,a08159d3c4ecb568e48e4cd752f608cd3db4bf21cdf830...,201902,NaN,NaN,Offender sent to prison,thames-valley
3,4,8ca408c4088ed308a2b964be2dbeca0dc3a8ccb1b4f9da...,201902,NaN,NaN,Offender sent to prison,thames-valley
4,5,435381746e98bc5702b776751daf7a432401f7e22e5d01...,201902,NaN,NaN,Defendant sent to Crown Court,thames-valley

# Clean the street & outcomes Dataframe by following the below stops:

# 1) Removing duplicates on 'Crime ID','District name'. We retain the record with the maximum value of Month and In case we have more than one entry for the same 'Crime ID','District name' In the same month then we retain the record which has highest line number in a given file.

# 2) Delete the records from both the datasets where 'Crime ID' is not available

# 3) Keep only those columns which are needed in the final output dataset

In [68]:
rmd_dfStreet=dfStreet.sort_values(['Crime ID','District name','Month','Rownum'])\
.drop_duplicates(['Crime ID'],'last')

rmd_clean_dfStreet=rmd_dfStreet[rmd_dfStreet['Crime ID'] != 'nan']

rmd_clean_dfStreet=rmd_clean_dfStreet[['Crime ID', 'District name', 'Latitude'\
                                       , 'Longitude', 'Crime type', 'Last outcome category']]

print('Shape Of street dataset Before remove duplicate & nan drop on Crime Id: {}'\
      .format(dfStreet.shape))
print('Shape Of street dataset After remove duplicate & nan drop on Crime Id: {}'\
      .format(rmd_clean_dfStreet.shape))

rmd_clean_dfStreet.head()

Shape Of street dataset Before remove duplicate & nan drop on Crime Id: (1578168, 8)
Shape Of street dataset After remove duplicate & nan drop on Crime Id: (1229828, 6)

,Crime ID,District name,Latitude,Longitude,Crime type,Last outcome category
251,00000983358084d4e70b1ca90be352591bf506a6efda82...,north-yorkshire,53.897553,-1.992842,Burglary,Under investigation
13296,000022121d7fe64bb8a4c44497571b4a4f71ddb4f50368...,avon-and-somerset,NaN,NaN,Violence and sexual offences,Unable to prosecute suspect
2891,000035d52fae4f276492b3b1599eecbf3f1f1279e26ffc...,essex,51.785544,0.618594,Other theft,Investigation complete; no suspect identified
809,0000444a0b278a28da9e0dcb866584d3883289f6455ae9...,west-midlands,52.539277,-1.886178,Vehicle crime,Investigation complete; no suspect identified
87322,0000447043b24b920901e592522376db5be84b85e3ebbd...,metropolitan,51.533896,-0.189401,Burglary,Under investigation

In [69]:
rmd_dfOutcomes=dfOutcomes.sort_values(['Crime ID','District name','Month','Rownum'])\
.drop_duplicates(['Crime ID'],'last')

rmd_clean_dfOutcomes=rmd_dfOutcomes[rmd_dfOutcomes['Crime ID'] != 'nan']

rmd_clean_dfOutcomes=rmd_clean_dfOutcomes[['Crime ID','Outcome type']]

print('Shape Of outcomes dataset Before remove duplicate & nan drop on Crime Id: {}'\
      .format(dfOutcomes.shape))
print('Shape Of outcomes dataset After remove duplicate & nan drop  on Crime Id: {}'\
      .format(rmd_clean_dfOutcomes.shape))

rmd_clean_dfOutcomes.head()

Shape Of outcomes dataset Before remove duplicate & nan drop on Crime Id: (1192446, 7)
Shape Of outcomes dataset After remove duplicate & nan drop  on Crime Id: (1091966, 2)

,Crime ID,Outcome type
4070,000022121d7fe64bb8a4c44497571b4a4f71ddb4f50368...,Unable to prosecute suspect
1425,000022c155a80d717523dee51b31e08e28cfaa760b467a...,Unable to prosecute suspect
10799,000035d52fae4f276492b3b1599eecbf3f1f1279e26ffc...,Investigation complete; no suspect identified
8826,0000444a0b278a28da9e0dcb866584d3883289f6455ae9...,Investigation complete; no suspect identified
23637,00004b0f856f8989c91e674b9167d8c1a1a8665af7f191...,Investigation complete; no suspect identified

# ROUGH

In [31]:

rmd_dfStreet[rmd_dfStreet['Crime ID']=='nan'].shape

#st=dfOutcomes.groupby(['Crime ID','District name','Month']).size().reset_index(name='counts')

(45, 14)

In [33]:
dd=rmd_dfStreet.groupby('Crime ID')['District name'].nunique()

Crime ID
00000983358084d4e70b1ca90be352591bf506a6efda820bfd313251786a8c12     1
000022121d7fe64bb8a4c44497571b4a4f71ddb4f50368af86f5b488318c8f9e     1
000035d52fae4f276492b3b1599eecbf3f1f1279e26ffc49f399efbfdc830e62     1
0000444a0b278a28da9e0dcb866584d3883289f6455ae94629fd82b7b0ad75dd     1
0000447043b24b920901e592522376db5be84b85e3ebbd942c89f1aaba3784e2     1
00004b0f856f8989c91e674b9167d8c1a1a8665af7f191fa6855d9248bb8adff     1
0000568a00da3ef027781a3671bbef3b5d5d346017716922e410f822b2bd1b4e     1
00008c8e1e3a80fd2d2b7168abf1f3f02466731d1c5612ab8ecacf75b93b7273     1
0000989c9e21d0e26026af257f71e9928d937e4c0e80fc7c08f45d8c3957c627     1
0000aa030f87607413e66cdc5dc624b7247841c1d52b61668adc47ef64ccbeda     1
0000d39f4482bea98410126edfd7f8e0c38553fe0c6656c5226d9c02d081b515     1
0000d9e997e74ca7001e372c2b45993cf7e66e7dfd93339c7afa0ea26cf77eb0     1
0000dd4f598ed08fc80bcfcdeeb15192eafc763ad4ca6d084202e392f2ff327d     1
0000ee9d37d34c95752b37d32519c177299ec3279d91c21c09d8df6c9f85a893     1
0000f14947fbf3dec8d708a2e8f405daeed0f441b3d6e677724ee7ba273772f8     1
0000f16cc569439161992403cf63c52bcfa1003b38923007e850744dd0327b88     1
00011227cc9080bbfcae44841d5149525b3cab80f4b1160b03db52b0b9e35946     1
0001172ba3d6381c3e7d157894763956d2062638e769c0a173ecb8430ca69587     1
000117a826cf55b82c4bcfe6061cc7b8f700ebda8067450917a1497949e7a04b     1
0001232efefb7dec1793164c2df30f0fe3891078eb5edc86145630b4d41ebcbf     1
0001303424624d1309063f1cf4240fba0c111371018ab017ac0d8bd3ba05e3aa     1
00013b3cb3835fdefb281d88a3ddfb435d88042876cb2831c6f339300a63fa94     1
000141f6c909d20cb289d6fa7213faf58b362d3b7d364f503fc52622cafe04f5     1
00014a6069aebf34408a17693e00ca00caa6369e1083d50203215117072341c5     1
0001662a9848d689a0c2e3d5f95dccd26b6b703abd3507fd7a8f03974fed1e28     1
000168b6182eb1f4022e4d451f96ae5e57db4fc2baa13b02ed30d6d8fd761e88     1
000184b8124ce6acc74a144298c0f738c3750f818175eb765e696f6a4cd6d59e     1
0001892032ede3f17218efb88cb765b8c8fb1ebab64801a80c1ea47eee74fb04     1
000194588fe62667a1bd51b37dc45036bef28866107749b9ca9f22c215a317d7     1
000195ae242cb0afd9965d7a9c67fc9e9a3a0a0df770b3b0a2e1b7aaedceb8df     1
                                                                    ..
fffe2e2f7f092266682849cd2a5de7e5f998f0ebe56afd779a5b487e76df5897     1
fffe2fdeece2a532e9c3ac39e2ca4c8e41d613aa2a857ca89c6359ab09437e21     1
fffe3889ee464158f181859f2eab1f0a34deb943b75b2dbea2513015634ea525     1
fffe6888b611d93b19e5323d58eb860d0dd4086dc22daf925fcb9df83c105135     1
fffe6a30cf9288f4700a4fe658e1f95eaac65714df2e10e6073f306d639b9656     1
fffe88eb5d9c7c8d9a92536b809096b02e711751870bb1f09c86e4a34f3c479e     1
fffe93c1761937c7b9f93b1150335bf785f3f222f8d0c6db76d7cfb84cd0ad2f     1
fffe9a5b0cb9463854ce6ca2ecc32bed8a5da55d0e79e851359ff3e20e3a61aa     1
fffed588ba0fa84b185e88b76de7e622f85d87514fc6931a9d148ecbd82e9549     1
fffefa1ad51296faaf2d1bd151ad905d37910e0a84390587d9db4228cf80124a     1
ffff0d1572110738467ff04b557a856ad66190472191806e1d1b25939ea2a78a     1
ffff1998d19b2afe44eb556922408cea2d9b149584e495e852446cb48c87b527     1
ffff1f0f54e5d9748bc30ad48a4155adcdadb48a359b9e575381454bbea210fb     1
ffff29b7a54c85b7c08f911eb746866aab8367cf229b00720730b3b0150cd941     1
ffff30a2ffa45dfb351bce07ec14b2235695c475e9fb9e7d39c04112ef55f668     1
ffff5362215afecbc68ffa1b1991c04cbc1f87f08e0788c1f7c609097c381011     1
ffff64766979e66068654e9247b280eb6f7a37d50c7c3bae1e1466cd986dfdbc     1
ffff7241c4ef6f403978ba3fc2720e8153d25651e1f684b06cf3cad4902d914a     1
ffff753459f9714e8c90d977e008f181e29e82d2d8f6a28bd970342771312d34     1
ffff75c37b3221e6ed2aeb264d32867a47a0273b7a833c824eb1f376a179f41d     1
ffff848c392c0dd04c973bbfa6f40eed50025e3e1c0d206a00f7c508320f29ae     1
ffff992d184b10ab58abf8da65b8c46c63e4cce3785a456a311ee31169539f8a     1
ffffa8e4577bdb38eb6c8af2dcaa81cf3f658b5ada3635ee2a2dea88457a193a     1
ffffc45ddb2a8a5f3d8436a43122dae71936bc520dd26130fdc835ab8745bdc4     1
ffffd17583c15caa797382d568987c17585505c175acdf6a1bdbff3fbf72de2e     1
ffffe00e4df676ea6435fb3a4c57f241cf514c3a93acfc2b6bd343d1f0019918     1
ffffe98183406d9f307bf44d1fbb65f9c9b067a9489d465618e9105e721678d9     1
fffff3d45ab3a1962d0ecffb9c016e2843baab2291d5689add1452fa015d9653     1
fffff6a7971b16f1638a59ad1f3e44aae240cab027454326e6db4760949eb161     1
nan                                                                 45
Name: District name, Length: 1229829, dtype: int64

In [190]:
#dfStreet.set_index('Crime ID').join(dfStreet,on='Crime ID')

new_df = pd.merge(dfStreet, dfOutcomes,  how='left', left_on=['Crime ID'], right_on = ['Crime ID'])

In [27]:
dfOutcomes[dfOutcomes['Crime ID'] == '001901b7da234af86d6130656db771439b46911ed6c3ea1722d92b68d320aad2']

,Rownum,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type,District name
23202,23203,001901b7da234af86d6130656db771439b46911ed6c3ea...,201902,West Yorkshire Police,West Yorkshire Police,-1.781348,53.580885,On or near Petrol Station,E01011186,Kirklees 058C,Suspect charged,west-yorkshire
23203,23204,001901b7da234af86d6130656db771439b46911ed6c3ea...,201902,West Yorkshire Police,West Yorkshire Police,-1.781348,53.580885,On or near Petrol Station,E01011186,Kirklees 058C,Suspect charged,west-yorkshire
25221,25222,001901b7da234af86d6130656db771439b46911ed6c3ea...,201903,West Yorkshire Police,West Yorkshire Police,-1.781348,53.580885,On or near Petrol Station,E01011186,Kirklees 058C,Court case unable to proceed,west-yorkshire
25670,25671,001901b7da234af86d6130656db771439b46911ed6c3ea...,201903,West Yorkshire Police,West Yorkshire Police,-1.781348,53.580885,On or near Petrol Station,E01011186,Kirklees 058C,Court case unable to proceed,west-yorkshire

In [203]:

st=dfOutcomes.groupby(['Crime ID','District name']).size().reset_index(name='counts')
st[st['counts'] > 1]

,Crime ID,District name,counts
18,0001303424624d1309063f1cf4240fba0c111371018ab0...,leicestershire,2
19,00013b3cb3835fdefb281d88a3ddfb435d88042876cb28...,metropolitan,3
36,0002bea4269f05a36328dc02c1bfef8b7c74b4ce72999e...,derbyshire,2
56,0003fdca29242c8359ed08aee3bdffaffbeb75dfd40bc2...,cheshire,2
84,0005a656c9c7571d1b065f28138ae0c803498660ea8c87...,metropolitan,2
108,00078222fc99e38aaac8e1bbad9b36a2bd95e98c5a50e3...,greater-manchester,2
134,000953688bdf8e2a934c382b89643bfc8660d2a0459d7d...,cheshire,2
145,0009d03e3c76b9dab1bdd4011008ee2e919821efb7d8fc...,metropolitan,3
191,000c0b5da5c91c0cad719945132a1d04d961d987f2a274...,metropolitan,2
198,000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb...,metropolitan,2
243,000e88d013cd17dc76a98feb95581a7dfb550368d80db4...,metropolitan,2
271,001076e503d0e0e6f73af634f72e76eddeb139feed667a...,staffordshire,2
284,001127959c7a7590dbff0bffe61e9480e0583fe5dbaa73...,gwent,2
297,0011f786258104945b29f350794b85dd8080fb3b8f99e0...,essex,2
329,0014220cef714ac141dd95b088aed0540c1f37888ff740...,south-wales,2
371,0016b72fc8daed6f7ef81405c9c679ef6ff4fe3895df13...,metropolitan,2
378,001717e624809a4a465673bfd30efd8e17116044dca989...,northamptonshire,2
409,0018ee8c0aec975a900a5af5bc308cd16bf78dbe1a5b44...,metropolitan,2
412,001901b7da234af86d6130656db771439b46911ed6c3ea...,west-yorkshire,4
431,001a3651996e325a3de874e419b6bdf0547f8cd47a52e0...,avon-and-somerset,2
539,001fa2f814f5f9b1d3195d0a85adeabcb9c7b3711d26f6...,metropolitan,2
543,001fcae92612a23a8e02eee9afeeb23c330ec6dd5119ce...,greater-manchester,3
545,001fdf923461852a095f4d3792d8a4cd72d6ca515ec570...,west-midlands,2
552,00202adf88c2d0dbf2421f75578efd34dd8c66eab6efdc...,humberside,3
562,0020965eb0ceda6b9a06c9c235df7be6009ed46eddbd36...,metropolitan,2
585,0022006fd648d5550833755680696637efeb0cad5156ad...,north-yorkshire,2
606,00234dc2ef693bd13113c356bc7f2099d40c77ba91cef7...,nottinghamshire,2
618,00240ecc09a959640f11cffdaf949307ad0a8f5812c832...,leicestershire,2
639,0024f061b86dabf6077ca6877f86c8d7ca275416c0bc4e...,thames-valley,2
652,0025b1e932783906c0d7492283d2151f9b8ca1df6018bc...,thames-valley,2
...,...,...,...
1091501,ffe4aab38a58b5c51c4b7ab2f60ff224a6aa7e5f882564...,west-midlands,2
1091506,ffe50867870c6dbcf1aea6c2dec669d85ca1c749a74cea...,metropolitan,4
1091512,ffe52a79f14d01933e0a724c5e8f43bd320349d0a87298...,gwent,3
1091520,ffe5b5195007fe11036a6d8b45a6efdbe0e6730c1f210b...,west-midlands,2
1091528,ffe63d8489bfb7467b4b5d82323628723e2eca47ffafae...,metropolitan,2
1091532,ffe663e417946ba8d1e86e007d19cfc5572691dd68243e...,surrey,2
1091547,ffe7635e94d68df8d572a8bc3299172178116d14e42bd6...,avon-and-somerset,3
1091551,ffe7b4b50997a3a9b2e4f16c356a7f561d5a718db939cc...,northamptonshire,2
1091638,ffebc8d241e881fa84835ddb80a3d54c23422ae46db2cd...,greater-manchester,2
1091643,ffebffd8601db8d0505381d9d37262320cd9e7a056d706...,south-yorkshire,2
1091666,ffed30ca45c47a87c3883a6a395b95a254f1acda33146f...,thames-valley,2
1091677,ffeddb75e6d0503aac598787b83d5e8f91c9b93bb793f9...,metropolitan,2
1091678,ffedfe5643fec4668923fa04d1937bcf45f7bf96e98e09...,west-mercia,2
1091699,ffef7381693da27387066f4a70d10aec63122e2f25f8cf...,hampshire,2
1091714,fff038c4dccde59db26f0c6c1308e7336508173d20a40f...,metropolitan,2
1091720,fff068fc9bab30d95985155918615c5a46e75d2c146923...,suffolk,2
1091760,fff2ccbb00fcaec2ca7c68f361db763c583492333a5452...,humberside,2
1091776,fff3d49a997cee6475609e8ead1946f9319875a30879f2...,dorset,2
1091799,fff5de19aca3ab59493ddd23e3fa93a84335fb3af06711...,avon-and-somerset,2
1091830,fff7e762c23822da22b63fa8c65909e7023eac2ec3dc8f...,greater-manchester,2
1091872,fffa296671c7dcc243b37f11a76e3e73357b58c7304fde...,humberside,2
1091874,fffa48e3af0540a6af027e07200f6214772ddad8407d91...,north-wales,2
1091883,fffabc0b769dfb7ab939db83c8283cbe092a942b4af0fb...,north-yorkshire,2
1091893,fffb6ec5f0678f743acaca426bdf4c019b5900a2b07f8f...,greater-manchester,3
1091903,fffbc2049e99e1c3d6d60a85f3c3f1039872640beeff49...,sussex,2
1091906,fffbdea47185aeef92e144696375ef2654ff1e133c5088...,leicestershire,3
1091908,fffc03aa81f7e1cf93a5df5471e309a32369cdb0af1a11...,metropolitan,2
1091909,fffc18bad116ebd389bbef2cf6ee9e122e8c1aa1ee9fb5...,warwickshire,2
1091910,fffc1f67d40c8a0d40c8b34eaa3e787aa4264371c477fb...,dorset,4
1091937,fffe01f4ff7a2be0a2eec483be8ba4ab7066b8a349cf68...,northamptonshire,2

In [218]:
st=dfStreet.groupby(['Crime ID','District name','Month']).size().reset_index(name='counts')
st[st['counts'] > 1]

,Crime ID,District name,Month,counts
233,000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb...,metropolitan,2019-01,2
409,0014f5805d0677b6f0d39df0da49d530390fd3f8e228bf...,avon-and-somerset,2019-03,2
420,0015627bff13044c64b465616896335908f556ea33fd53...,metropolitan,2019-03,2
442,00166f9e5adc90b6bd3c5e33d2168b9a82f32bf8c05973...,derbyshire,2019-02,2
572,001c831109defe8034e97d0f4615a212e1c0d4c3f35fb0...,metropolitan,2019-01,2
801,00280739896fda2e279814aaf48ba3509eaa2d1f6cd8b6...,metropolitan,2019-03,6
846,002a7b803ec3128e93360733c67cffc8fd6bf6388be679...,metropolitan,2019-01,2
904,002d3691e4a78d6d5205965b097cec9d6bd1c0b708d597...,metropolitan,2019-03,2
1027,003404c119705cc813544ecca9b13b42c77df8756ad160...,metropolitan,2019-03,2
1157,003af7bfd8d48ee8c19095b01793ba6e257e820888db64...,metropolitan,2019-02,2
1666,0055e0c5193ba50de31d08953bf94e6060c8ebee786f17...,metropolitan,2019-03,2
1702,0057f2027d5623069f2d895c55a030f37accb15f6ca9e9...,avon-and-somerset,2019-01,2
1878,0062b94126587afc74deb5cc4e59087ac77f20152d6cc8...,metropolitan,2019-03,2
1951,00669dd7d25413f32efc5753ddcc94e75e007b0f2a5117...,metropolitan,2019-02,4
2150,00701e13c758064e2f82ada39b94f1c0888cd1ba622e70...,cheshire,2019-01,2
2276,00774befc3fc499416dcd29dab5188971fb87bcb0cae5e...,avon-and-somerset,2019-01,2
2320,007922772176ba6e0aff7117dc8bd45dead8d19746c05b...,metropolitan,2019-02,2
2338,007a18fa91b663f11ffb9c3b125524d7673082cb2b1478...,metropolitan,2019-02,2
2411,007e149db7be88138284f62d859aff198c958618d82ae1...,metropolitan,2019-01,2
2457,007ff3995d74cb90146b3755472a7e4aba69eca883939c...,metropolitan,2019-03,2
2532,0084101c83b80adb1c43b2ed5bdcdc48e6665a366deb91...,metropolitan,2019-03,2
2701,008c0396d2efa8a03c1053b9f1287d626c9c20661832cf...,metropolitan,2019-02,2
2930,0098e5970f76e501e6aea6005fb5ac9233bf960bbfb35d...,avon-and-somerset,2019-02,2
2947,0099a2f6b1f7bdf4483b780b43c946274b6eb58502e940...,metropolitan,2019-01,2
2989,009c48cc721b6769da85f6e62bffaffcfc23a49775b002...,metropolitan,2019-02,2
3026,009dc04596d0cde524f11c3c18c69f85233f0c105b46be...,metropolitan,2019-03,2
3048,009f6b3ad253a594fae0baf4af464909289d007ed303db...,metropolitan,2019-02,2
3067,00a027bb143aecfcc0e77757134c26e2d287d10e32e01e...,metropolitan,2019-02,2
3079,00a0e82e87e365d412331a34414d670492a47d7d4122a4...,avon-and-somerset,2019-01,2
3104,00a20c14d9d13cf8db3b7c2a2dff71723a32d06f085ad3...,metropolitan,2019-02,2
...,...,...,...,...
1244767,nan,staffordshire,2019-01,2449
1244768,nan,staffordshire,2019-02,2616
1244769,nan,staffordshire,2019-03,2986
1244770,nan,suffolk,2019-01,542
1244771,nan,suffolk,2019-02,587
1244772,nan,suffolk,2019-03,678
1244773,nan,surrey,2019-01,1537
1244774,nan,surrey,2019-02,1539
1244775,nan,surrey,2019-03,1778
1244776,nan,sussex,2019-01,2137
1244777,nan,sussex,2019-02,2084
1244778,nan,sussex,2019-03,2316
1244779,nan,thames-valley,2019-01,1879
1244780,nan,thames-valley,2019-02,1383
1244781,nan,thames-valley,2019-03,2157
1244782,nan,warwickshire,2019-01,982
1244783,nan,warwickshire,2019-02,956
1244784,nan,warwickshire,2019-03,1059
1244785,nan,west-mercia,2019-01,3020
1244786,nan,west-mercia,2019-02,2862
1244787,nan,west-mercia,2019-03,3185
1244788,nan,west-midlands,2019-01,2962
1244789,nan,west-midlands,2019-02,2815
1244790,nan,west-midlands,2019-03,3173
1244791,nan,west-yorkshire,2019-01,3033
1244792,nan,west-yorkshire,2019-02,3471
1244793,nan,west-yorkshire,2019-03,3382
1244794,nan,wiltshire,2019-01,1165
1244795,nan,wiltshire,2019-02,1193
1244796,nan,wiltshire,2019-03,1308

In [220]:
dfStreet[dfStreet['Crime ID'].str.contains('000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb')]

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,District name
37485,000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb...,2019-01,Metropolitan Police Service,Metropolitan Police Service,-0.338022,51.583062,On or near Welldon Crescent,E01002128,Harrow 020A,Public order,Awaiting court outcome,nan,metropolitan
37486,000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb...,2019-01,Metropolitan Police Service,Metropolitan Police Service,-0.338022,51.583062,On or near Welldon Crescent,E01002128,Harrow 020A,Public order,Under investigation,nan,metropolitan

In [221]:
dfStreet['Last outcome category'].unique()

array(['Unable to prosecute suspect',
       'Investigation complete; no suspect identified',
       'Under investigation', 'nan', 'Local resolution',
       'Offender sent to prison',
       'Offender given a drugs possession warning',
       'Awaiting court outcome', 'Offender given a caution',
       'Formal action is not in the public interest',
       'Action to be taken by another organisation',
       'Defendant sent to Crown Court',
       'Further investigation is not in the public interest',
       'Offender ordered to pay compensation',
       'Offender given community sentence',
       'Court case unable to proceed', 'Offender fined',
       'Offender otherwise dealt with',
       'Offender given conditional discharge',
       'Offender given penalty notice',
       'Offender given suspended prison sentence',
       'Defendant found not guilty', 'Offender deprived of property',
       'Offender given absolute discharge',
       'Suspect charged as part of another case',
       'Court result unavailable'], dtype=object)

In [21]:
rmd_dfStreet=dfStreet.sort_values(['Crime ID','District name','Month',\
            'Rownum']).drop_duplicates(['Crime ID','District name'],'last')

In [22]:
rmd_dfStreet[rmd_dfStreet['Crime ID'].str.contains('000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb')]

,Rownum,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,District name
37486,37487,000c4640f6d6a05686d33c6f02575614a4c5cd1d2a2fdb...,201901,Metropolitan Police Service,Metropolitan Police Service,-0.338022,51.583062,On or near Welldon Crescent,E01002128,Harrow 020A,Public order,Under investigation,nan,metropolitan